<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
    <%= image_tag('logo.jpg') %>
      <div class="row tagline">
        <p class="lead col-md-6 col-md-offset-3">Visualize - 3D Modelling for ecommerce sites  </p>
      </div>
      <div class="row ">
         <img class = "cover-pic col-md-10 col-md-offset-1" src="lab.gif"/>
       </div>
          <a href="<%= dashboard_path %>" class="btn btn-lg btn-default upload-button"> <b>Explore Now</b></a>
        </p>
    </div>
  </div>
</div>
