<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
    <%= image_tag('logo.png') %>
      <div class="row tagline">
        <p class="lead col-md-6 col-md-offset-3">3D Modelling for ecommerce sites  </p>
      </div>
      <div class="row ">
       </div>
          <a href="<%= dashboard_path %>" class="btn btn-lg btn-default upload-button"> <b>EXPLORE NOW</b></a>
        </p>
    </div>
  </div>
</div>
