<div class="parts-selector"> 
    
    <div class="header">
      <h1> Back side</h1>
      <a class="save btn btn-large btn-primary"> Save back side </a>
    </div>
    
    <div class="content">
      <div class="transparent">
        <%= image_tag("shirt.png", id: 'dress') %>
      </div>
    </div>
</div>

<script type="text/javascript">
  var coordinates = null;
  
  $(document).ready(function() {
    $("#dress").Jcrop({
      setSelect: [100, 100, 300, 300],
      onSelect: updateCoordinates,
      onChange: updateCoordinates
    });
  });
  
  var updateCoordinates = function(_coordinates) {
    coordinates = _coordinates
  }
  
  $(".save").click(function(event){
    console.log(coordinates)
  })
  
</script>